<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Football Varsity Graphics Control</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="css/vendor.css">
    <link rel="stylesheet" href="css/client.css">
</head>

<body ng-app="app">
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">XTV Football</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="/manual-control">Manual Controls</a></li>
                <li><a href="/settings">Settings</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="control-template" ng-controller="PlayerControlController">
        <div class="col-xs-12 col-md-6 border-right">
            <div class="h1 team">{{data.home.name}} - {{scoreData.home.score}}</div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Team Control</h3>
                </div>
                <div class="btn-group padding-15" role="group">
                    <button type="button" class="btn btn-default" ng-click="teamPenaltyAction('home', 'corner')">Corner
                    </button>
                    <button type="button" class="btn btn-default" ng-click="teamPenaltyAction('home', 'penalty')">Penalty
                    </button>
                </div>
            </div>


            <div class="panel panel-default player-list">
                <div class="panel-heading">
                    <button type="button" class="btn btn-warning btn-xs" style="float: right;" ng-click="clear()">Clear LTs
                    </button>
                    <h3 class="panel-title">Active Players</h3>
                </div>
                <div class="panel-body players">
                    <div class="player-control">
                        <div class="row padding-5" ng-repeat="player in data.home.players | filter : {isPlaying:true}" style="border-bottom: solid 1px #EEE; border-top: solid 1px #EEE; margin-top: 2px;">
                            <div class="col-xs-1 player-number">
                                {{ player.number }}
                            </div>
                            <div class="col-xs-4 player-name">
                                {{ player.name }} {{player.description ? ' - '+ player.description : ''}}
                            </div>
                            <div class="col-xs-7 player-name text-right">
                                <div class="panel-body player-name">
                                    <div class="btn-group" role="group">
                                        <button type="button" class="btn btn-default"
                                                ng-click="showGenericLtPlayer('home', player.number)">LT
                                        </button>
                                        <button type="button" class="btn btn-primary"
                                                ng-click="open('home', player.number)">Sub
                                        </button>
                                        <button type="button" class="btn btn-warning"
                                                ng-click="playerGotCard('home', player.number, 'yellow')">Yellow
                                        </button>
                                        <button type="button" class="btn btn-danger"
                                                ng-click="playerGotCard('home', player.number, 'red')">Red
                                        </button>
                                        <button type="button" class="btn btn-success"
                                                ng-click="playerScored('home', player.number)">Goal
                                        </button>
                                        <button type="button" class="btn btn-default"
                                                ng-click="setPlayerIsPlaying('home', player.number, false)">X
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--</row>-->
                    </div>
                </div>

                <!-- /Player Control -->
            </div>
            <div class="panel panel-default player-list">
                <div class="panel-heading">
                    <h3 class="panel-title">Inactive Players</h3>
                </div>
                <div class="panel-body players">
                    <div class="player-control">
                        <div class="row padding-5" ng-repeat="player in data.home.players | filter : {isPlaying:false}">
                            <div class="col-xs-1 player-number">
                                {{ player.number }}
                            </div>
                            <div class="col-xs-5 player-name">
                                {{ player.name }}
                            </div>
                            <div class="col-xs-6 player-name">
                                <div class="panel-body player-name">
                                    <div class="btn-group" role="group">
                                        <button type="button" class="btn btn-default"
                                                ng-click="setPlayerIsPlaying('home', player.number, true)">Add
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--</row>-->
                    </div>
                </div>
                <!-- /Inactive Players -->
            </div>


        </div>
        <div class="col-xs-12 col-md-6">
            <div class="h1 team">{{data.guest.name}} - {{scoreData.guest.score}}</div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Team Control</h3>
                </div>
                <div class="btn-group padding-15" role="group">
                    <button type="button" class="btn btn-default" ng-click="teamPenaltyAction('guest', 'corner')">Corner
                    </button>
                    <button type="button" class="btn btn-default" ng-click="teamPenaltyAction('guest', 'penalty')">Penalty
                    </button>
                </div>
            </div>


            <div class="panel panel-default player-list">
                <div class="panel-heading">
                    <button type="button" class="btn btn-warning btn-xs" style="float: right;" ng-click="clear()">Clear LTs
                    </button>
                    <h3 class="panel-title">Active Players</h3>
                </div>
                <div class="panel-body players">
                    <div class="player-control">
                        <div class="row padding-5" ng-repeat="player in data.guest.players | filter : {isPlaying:true}" style="border-bottom: solid 1px #EEE; border-top: solid 1px #EEE; margin-top: 2px;">
                            <div class="col-xs-1 player-number">
                                {{ player.number }}
                            </div>
                            <div class="col-xs-4 player-name">
                                {{ player.name }} {{player.description ? ' - '+ player.description : ''}}
                            </div>
                            <div class="col-xs-7 player-name text-right">
                                <div class="panel-body player-name">
                                    <div class="btn-group" role="group">
                                        <button type="button" class="btn btn-default"
                                                ng-click="showGenericLtPlayer('guest', player.number)">LT
                                        </button>
                                        <button type="button" class="btn btn-primary"
                                                ng-click="open('guest', player.number)">Sub
                                        </button>
                                        <button type="button" class="btn btn-warning"
                                                ng-click="playerGotCard('guest', player.number, 'yellow')">Yellow
                                        </button>
                                        <button type="button" class="btn btn-danger"
                                                ng-click="playerGotCard('guest', player.number, 'red')">Red
                                        </button>
                                        <button type="button" class="btn btn-success"
                                                ng-click="playerScored('guest', player.number)">Goal
                                        </button>
                                        <button type="button" class="btn btn-default"
                                                ng-click="setPlayerIsPlaying('guest', player.number, false)">X
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <!--</row>-->
                        </div>
                    </div>
                    <!-- /Player Control -->
                </div>
            </div>
            <div class="panel panel-default player-list">
                <div class="panel-heading">
                    <h3 class="panel-title">Inactive Players</h3>
                </div>
                <div class="panel-body players">
                    <div class="player-control">
                        <div class="row padding-5" ng-repeat="player in data.guest.players | filter : {isPlaying:false}">
                            <div class="col-xs-1 player-number">
                                {{ player.number }}
                            </div>
                            <div class="col-xs-5 player-name">
                                {{ player.name }}
                            </div>
                            <div class="col-xs-6 player-name">
                                <div class="panel-body player-name">
                                    <div class="btn-group" role="group">
                                        <button type="button" class="btn btn-default"
                                                ng-click="setPlayerIsPlaying('guest', player.number, true)">Add
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--</row>-->
                    </div>
                </div>
                <!-- /Inactive Players -->
            </div>
        </div>
    </div>
</div>
<script src="js/vendor.js" charset="utf-8"></script>
<script src="js/application.js" charset="utf-8"></script>
<!-- Substitute Modal-->
<script type="text/ng-template" id="substituteModal">
    <div class="modal-header">
        <h3 class="modal-title">Substitute for...</h3>
    </div>
    <div class="modal-body">
        <ul>
            <li ng-repeat="player in data | filter : {isPlaying:false}">
                <a href="#" ng-click="$event.preventDefault(); selected.player = player">{{ player.name }}</a>
            </li>
        </ul>
        Selected: {{ selected.player.number }} <b>{{ selected.player.name }}</b>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</script>
</body>

</html>
