<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Football Varsity Graphics Control</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="css/vendor.css">
    <link rel="stylesheet" href="css/client.css">
</head>

<body ng-app="app">
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">[X][T][V] Football</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="/manual-control">Manual Controls</a></li>
                <li><a href="/settings">Settings</a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->

</nav>

<div class="container">
    <div class="control-template" ng-controller="PlayerControlController">
        <div class="col-xs-12 col-md-6 border-right">
            <div class="h1 team">{{data.home.name}}</div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Team Control</h3>
                </div>
                <div class="btn-group padding-15" role="group" aria-label="BE">
                    <button type="button" class="btn btn-default">Corner</button>
                    <button type="button" class="btn btn-default">Penalty</button>
                </div>
            </div>


            <div class="panel panel-default player-list">
                <div class="panel-heading">
                    <h3 class="panel-title">Active Players</h3>
                </div>
                <div class="panel-body players">
                    <div class="player-control">
                        <div class="row padding-5" ng-repeat="player in data.home.players | filter : {isPlaying:true}">
                            <div class="col-xs-1 player-number">
                                {{ player.number }}
                            </div>
                            <div class="col-xs-3 player-name">
                                {{ player.name }}
                            </div>
                            <div class="col-xs-8 player-name">
                                <div class="panel-body player-name">
                                    <div class="btn-group" role="group">
                                        <button type="button" class="btn btn-default">Yellow</button>
                                        <button type="button" class="btn btn-default">Red</button>
                                        <button type="button" class="btn btn-default">Goal</button>
                                        <button type="button" class="btn btn-default">Substitute</button>
                                        <button type="button" class="btn btn-default" ng-click="setPlayerIsPlaying('home', player.number, false)">Remove</button>
                                    </div>
                                </div>
                            </div>
                        </div><!--</row>-->
                    </div>
                </div>
                <!-- /Player Control -->
            </div>
            <div class="panel panel-default player-list">
                <div class="panel-heading">
                    <h3 class="panel-title">Inactive Players</h3>
                </div>
                <div class="panel-body players">
                    <div class="padding-15 player-control">
                        <div class="row padding-5" ng-repeat="player in data.home.players | filter : {isPlaying:false}">
                            <div class="col-xs-1 player-number">
                                {{ player.number }}
                            </div>
                            <div class="col-xs-3 player-name">
                                {{ player.name }}
                            </div>
                            <div class="col-xs-8 player-name">
                                <div class="panel-body player-name">
                                    <div class="btn-group" role="group">
                                        <button type="button" class="btn btn-default" ng-click="setPlayerIsPlaying('home', player.number, true)">Add</button>
                                    </div>
                                </div>
                            </div>
                        </div><!--</row>-->
                    </div>
                </div>
                <!-- /Inactive Players -->
            </div>


        </div>
        <div class="col-xs-12 col-md-6">
            <div class="h1 team">{{data.guest.name}}</div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Team Control</h3>
                </div>
                <div class="btn-group padding-15" role="group" aria-label="BE">
                    <button type="button" class="btn btn-default">Corner</button>
                    <button type="button" class="btn btn-default">Penalty</button>
                </div>
            </div>


            <div class="panel panel-default player-list">
                <div class="panel-heading">
                    <h3 class="panel-title">Active Players</h3>
                </div>
                <div class="panel-body players">
                    <div class="player-control">
                        <div class="row padding-5" ng-repeat="player in data.guest.players | filter : {isPlaying:true}">
                            <div class="col-xs-1 player-number">
                                {{ player.number }}
                            </div>
                            <div class="col-xs-3 player-name">
                                {{ player.name }}
                            </div>
                            <div class="col-xs-8 player-name">
                                <div class="panel-body player-name">
                                    <div class="btn-group" role="group">
                                        <button type="button" class="btn btn-default">Yellow</button>
                                        <button type="button" class="btn btn-default">Red</button>
                                        <button type="button" class="btn btn-default">Goal</button>
                                        <button type="button" class="btn btn-default">Substitute</button>
                                        <button type="button" class="btn btn-default" ng-click="setPlayerIsPlaying('guest', player.number, false)">Remove</button>
                                    </div>
                                </div>
                            </div>
                        </div><!--</row>-->
                    </div>
                </div>
                <!-- /Player Control -->
            </div>
            <div class="panel panel-default player-list">
                <div class="panel-heading">
                    <h3 class="panel-title">Inactive Players</h3>
                </div>
                <div class="panel-body players">
                    <div class="padding-15 player-control">
                        <div class="row padding-5"ng-repeat="player in data.guest.players | filter : {isPlaying:false}">
                            <div class="col-xs-1 player-number">
                                {{ player.number }}
                            </div>
                            <div class="col-xs-3 player-name">
                                {{ player.name }}
                            </div>
                            <div class="col-xs-8 player-name">
                                <div class="panel-body player-name">
                                    <div class="btn-group" role="group">
                                        <button type="button" class="btn btn-default" ng-click="setPlayerIsPlaying('guest', player.number, true)">Add</button>
                                    </div>
                                </div>
                            </div>
                        </div><!--</row>-->
                    </div>
                </div>
                <!-- /Inactive Players -->
            </div>





        </div>
    </div>
    <div id="footer">
        Footer
    </div>
</div>
</div>
<!-- /.container -->
<script src="js/vendor.js" charset="utf-8"></script>
<script src="js/application.js" charset="utf-8"></script>
</body>

</html>
