<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Football Varsity Graphics Control</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="css/vendor.css">
    <link rel="stylesheet" href="css/client.css">
</head>

<body ng-app="app">

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">[X][T][V] Football</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/manual-control">Manual Controls</a></li>
                <li class="active"><a href="/settings">Settings</a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>

<div class="container">
    <div class="control-template" ng-controller="TeamSettingsController">
        <div class="col-xs-12 col-md-6 border-right">
            <div class="h1 team">Home</div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Team Control</h3>
                </div>
                <div class="input-group padding-15">
                    <input type="text" class="form-control" placeholder="Home" ng-model="data.home.name"
                           ng-change="changeHomeTeamName()">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" ng-click="changeHomeTeamName()">Set name
                            </button>
                        </span>
                </div>
                <div class="input-group padding-15">
                    <input type="text" class="form-control" placeholder="EXE" ng-model="data.home.shortName"
                           ng-change="changeHomeTeamShortName()">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" ng-click="changeHomeTeamShortName()">Set Short Name
                            </button>
                        </span>
                </div>
                <div class="input-group padding-15">
                    <input type="text" ng-model="data.home.colour" class="form-control" placeholder="#0f5d3b"
                           ng-change="changeHomeColour()">
                    <span class="input-group-addon" style="background-color:{{data.home.colour}};">&nbsp</span>
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" ng-click="changeHomeColour()">Set colour
                            </button>
                        </span>

                </div>
                <!-- /input-group -->
            </div>
            <div class="panel panel-default player-list">
                <div class="panel-heading">
                    <h3 class="panel-title">New Player</h3>
                </div>
                <div class="panel-body players">
                    <div class="row">
                        <div class="col-xs-12 padding-15">
                            <form>
                                <div class="form-group">
                                    <label for="playerName">Name</label>
                                    <input type="text" class="form-control" id="playerName" placeholder="Max Schmitt"
                                           ng-model="newHomePlayer.name">
                                </div>
                                <div class="form-group">
                                    <label for="playerNumber">Number</label>
                                    <input type="number" class="shortwidth form-control" id="playerNumber"
                                           placeholder="1" ng-model="newHomePlayer.number">
                                </div>
                                <div class="form-group">
                                    <label for="playerDescription">Description</label>
                                    <input type="text" class=" form-control" id="playerDescription"
                                           placeholder="Team Captain" ng-model="newHomePlayer.description">
                                </div>
                                <div class="form-group">
                                    <label for="playerFilepath">Picture URI</label>
                                    <input type="url" class="form-control" id="playerFilepath"
                                           placeholder="http://hello.world" ng-model="newHomePlayer.filename">
                                </div>
                                <button type="submit" class="btn btn-default" ng-click="addHomePlayer()">Add</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default player-list">
                <div class="panel-heading">
                    <h3 class="panel-title">Players</h3>
                </div>
                <div class="panel-body players">
                    <div class="row">
                        <div class="row padding-5" ng-repeat="player in data.home.players">
                            <div class="col-xs-1 player-number">
                                {{ player.number }}
                            </div>
                            <div class="col-xs-3 player-name">
                                {{ player.name }}
                            </div>
                            <div class="col-xs-8 player-name">
                                <div class="panel-body player-name">
                                    <div class="btn-group" role="group" aria-label="BE">
                                        <button type="button" class="btn btn-default"
                                                ng-click="removeHomePlayer($index)">Delete
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="h1 team">Guest</div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Team Control</h3>
                </div>
                <div class="input-group padding-15">
                    <input type="text" class="form-control" placeholder="Guest" ng-model="data.guest.name"
                           ng-change="changeGuestTeamName()">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" ng-click="changeGuestTeamName()">Set name
                            </button>
                        </span>
                </div>
                <div class="input-group padding-15">
                    <input type="text" class="form-control" placeholder="EXE" ng-model="data.guest.shortName"
                           ng-change="changeGuestTeamShortName()">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" ng-click="changeGuestTeamShortName()">Set Short Name
                            </button>
                        </span>
                </div>
                <div class="input-group padding-15">
                    <input type="text" ng-model="data.guest.colour" class="form-control" placeholder="#0f5d3b"
                           ng-change="changeGuestColour()">
                    <span class="input-group-addon" style="background-color:{{data.guest.colour}};">&nbsp</span>
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" ng-click="changeGuestColour()">Set colour
                            </button>
                        </span>
                </div>
                <!-- /input-group -->
            </div>
            <div class="panel panel-default player-list">
                <div class="panel-heading">
                    <h3 class="panel-title">New Player</h3>
                </div>
                <div class="panel-body players">
                    <div class="row">
                        <div class="col-xs-12 padding-15">
                            <form>
                                <div class="form-group">
                                    <label for="playerName">Name</label>
                                    <input type="text" class="form-control" id="playerName" placeholder="Max Schmitt"
                                           ng-model="newGuestPlayer.name">
                                </div>
                                <div class="form-group">
                                    <label for="playerNumber">Number</label>
                                    <input type="number" class="shortwidth form-control" id="playerNumber"
                                           placeholder="1" ng-model="newGuestPlayer.number">
                                </div>

                                <div class="form-group">
                                    <label for="playerDescription">Description</label>
                                    <input type="text" class=" form-control" id="playerDescription"
                                           placeholder="Team Captain" ng-model="newGuestPlayer.description">
                                </div>

                                <div class="form-group">
                                    <label for="playerFilepath">Picture URI</label>
                                    <input type="url" class="form-control" id="playerFilepath"
                                           placeholder="http://hello.world" ng-model="newGuestPlayer.filename">
                                </div>
                                <button type="submit" class="btn btn-default" ng-click="addGuestPlayer()">Add</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default player-list">
                <div class="panel-heading">
                    <h3 class="panel-title">New Player</h3>
                </div>
                <div class="panel-body players">
                    <div class="row padding-5" ng-repeat="player in data.guest.players">
                        <div class="col-xs-1 player-number">
                            {{ player.number }}
                        </div>
                        <div class="col-xs-3 player-name">
                            {{ player.name }}
                        </div>
                        <div class="col-xs-8 player-name">
                            <div class="panel-body player-name">
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-default" ng-click="removeGuestPlayer($index)">
                                        Delete
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="js/vendor.js" charset="utf-8"></script>
<script src="js/application.js" charset="utf-8"></script>

</body>

</html>
