@font-face {
    font-family: 'clear_sans';
    src: url('../fonts/ClearSans-Bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'clear_sans';
    src: url('../fonts/ClearSans-BoldItalic-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'clear_sans';
    src: url('../fonts/ClearSans-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'glyphicons';
    src: url('../fonts/glyphicons-halflings-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@keyframes wiggleCards {
    0%   {transform: rotate(20deg);}
    100%   {transform: rotate(35deg);}
}

html {
    color: white;
    font-size: 1em;
    font-family: Gill Sans MT, Gill Sans, Calibri, sans-serif;
    line-height: 1.4;
    text-rendering: optimizeLegibility;
    overflow: hidden;
    height: 100%;
}

body {
    height: 100%;
    text-align: center;
    font-family: clear_sans;
}

.lowerThird {
    position: absolute;
    width: 60%;
    height: 135px;
    bottom: 25px;
    left: 20%;
    background-color: #351b26;
    color: white;
    text-align: center;
    font-size: 70px;
}

.ltNoTeamColour {
    border-right: 50px solid #784a5b;
    border-left: 50px solid #784a5b;
}


.ltOneTeamColour {
    border-right: 100px solid green;
    border-left: 50px solid #784a5b;
}

.ltBothTeamColour {
    border-right: 100px solid blue;
    border-left: 100px solid green;
}

.actionTypeText {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 6px;
    text-transform: uppercase;
    font-size: 30px;
}

.actionMainText{
    position: absolute;
    text-align: center;
    width: 100%;
    top: 45px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 55px;
}

.actionCornerText{
    position: absolute;
    text-align: left;
    width: 100%;
    top: -25px;
    font-size: 35px;
    left: 10px;
    text-transform: uppercase;
    font-weight: normal;
    transform: rotate(-3deg);
}

.homeTeam{
    position: absolute;
    text-align: right;
    width: 100%;
    right: 52%;
    text-transform: uppercase;
    font-weight: bold;
    top: 15px;
}

.awayTeam{
    position: absolute;
    text-align: left;
    width: 100%;
    left: 52%;
    text-transform: uppercase;
    font-weight: bold;
    top: 15px;
}

.divider {
    position: absolute;
    top: 15px;
    text-align: center;
    width: 100%;
}

.left {
    text-align: left;
    padding-left: 20px;
}

.center {
    text-align: center;
}

.text1 {
    position: absolute;
    width: 100%;
    top: 2px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 60px;
}

.text2 {
    position: absolute;
    width: 100%;
    top: 80px;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 38px;
}

.actionTeamRight {
    position: absolute;
    bottom: 0px;
    text-align: right;
    right: 20px;
    font-size: 45px;
    font-variant: small-caps;
}

.actionTeamLeft{
    position: absolute;
    bottom: 0px;
    text-align: left;
    left: 20px;
    font-size: 45px;
    font-variant: small-caps;
}

.actionGraphic{
    position: relative;
    text-align: left;
    margin-left: 20px;
    margin-top: -20px;
}

.card {
    height: 150px;
    width: 90px;
    transform: rotate(30deg);
    box-shadow: 14px 15px 19px -4px rgba(0,0,0,1);
    animation-name: wiggleCards;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.yellow {
    background-color: #fff44d;
}

.red {
    background-color: #ff293a;
}

#score {
    background-color: #1f020f;
    position: absolute;
    top: 70px;
    left: 180px;
    width: 520px;
    height: 70px;
    color: white;
    font-family: clear_sans, monospace;
    font-size: 35pt;
}

#homeColour{
    position:relative;
    height: 100%;
    width: 70px;
    left: 0px;
    background-color: green;
}

#homeName{
    position:absolute;
    height: 100%;
    width: 100px;
    left: 80px;
    top: 0px;
    padding: 5px;
}

#gameScore{
    position:absolute;
    height: 100%;
    width: 160px;
    top: 0px;
    padding: 5px;
    text-align: center;
    left: 180px;
    right: 180px;
}

#guestName{
    position:absolute;
    height: 100%;
    width: 100px;
    right: 80px;
    top: 0px;
    padding: 5px;

}

#guestColour{
    position:absolute;
    height: 100%;
    width: 70px;
    right: 0px;
    top: 0px;
    background-color: blue;
}

#logo {
    background: #784a5b url("../xtv.svg") no-repeat 15px 5px;
    background-size: 60px 60px;
    position: absolute;
    top: 70px;
    left: 80px;
    width: 100px;
    height: 70px;
}

#clock {
    position:absolute;
    top: 140px;
    left: 250px;
    width: 380px;
    height: 50px;
    color: white;
    font-family: clear_sans, monospace;
    font-size: 25pt;
    text-align: center;
}

/*regular time*/
#matchTime {
    background: #593747;
    position: absolute;
    left: 0px;
    width: 170px;
}

/*time the match goes on after 90'/45'*/
#overTime {
    background: #784a5b;
    position: absolute;
    left: 160px;
    width: 135px;

}

/*time referee announces to extend the half for*/
#stoppageTime {
    background-color: #1f020f;
    position: absolute;
    left: 290px;
    width: 75px;
}